@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Capriola', Arial, Helvetica, sans-serif;
  font-weight: 900;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: dodgerblue;
  background-size: cover;
  background-position: center;
  background-image: url('https://thumbs.gfycat.com/RegalAssuredGossamerwingedbutterfly-size_restricted.gif');
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  max-height: 95%;
  border: 5px solid orange;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
  padding: 20px;

   > * {
    margin: 5px 0px;
    opacity: 0.9;
  }

  p {
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;

    span {
      text-transform: uppercase;
      font-weight: bolder;
    }
  }

  p.scoreboard {
    color: black;
    background-color: white;
    border: 2px solid black;
  }

  .button-container {
    display: flex;
    justify-content: center;
    border: 2px solid yellow;
    border-radius: 2px;

    a {
      flex-grow: 1;
      text-decoration: none;
      padding: 10px;
      background-color: green;
      color: white;
      font-weight: bolder;
      text-transform: uppercase;
      text-align: center;

      &:hover {
        background-color: lime;
        color: navy;
      }

      &:last-child {
        background-color: orange;
        color: black;
  
        &:hover {
          background-color: red;
          color: white;
        }
      }

    }
  }


  :last-child, :first-child {
    align-self: center;
    text-align: center;
  }
}

// Media Queries
@media screen and (max-width: 600px) {
  .game-container {
    width: 90%;

    .button-container {
      flex-direction: column;

      a {
        width: 100%;
        border-bottom: 1px solid yellow;
      }
    }
  }
}